body
	font-family "Sanchez"
	background url('/breadtexture.jpg') center center fixed no-repeat
	background-size cover

.container
	overflow hidden
	background-color rgba(255,255,255,0.8)

.header
	text-align center
	background-color rgba(255,255,255,0.8)
	color #000
	margin-bottom 20px

h1
	font-size 400%

.sandoSelection
	background-color rgba(255,255,255,0.8)
	margin 5px 10px
	padding 10px

	h3
		display inline
		margin-left 10px


input[type='checkbox']
	margin-bottom 10px

.footer
	padding 30px 0